.react-calendar {
  border: none;
  font-family: "Pretendard", sans-serif;
}

.react-calendar__tile {
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  color: #717171;
}

.react-calendar__tile--now {
  background-color: #c3c0aa61;
  color: rgb(255, 255, 255);
}

.react-calendar__tile--active {
  background-color: #00de4d;
  color: white;
}

.react-calendar__tile--now.react-calendar__tile--active {
  background-color: #00de4d;
  color: rgb(255, 255, 255);
}

.react-calendar__tile.text-red-500 {
  color: #ef4444 !important;
}

.react-calendar__tile.text-blue-500 {
  color: #3b82f6 !important;
}

.react-calendar__tile.text-text-gray {
  color: #717171 !important;
}
