.react-calendar__tile.selected-style {
  background-color: #f3f3f3 !important;
  border-radius: 1rem;
  color: #333333;
}

.react-calendar__tile.today-selected-style {
  background-color: #e5e5e5 !important;
  border-radius: 1rem;
}

.react-calendar__tile.today-selected-style abbr {
  color: #000000 !important;
  font-weight: bold !important;
}

.react-calendar {
  border: none;
  font-family: "Pretendard", sans-serif;
}

.react-calendar__month-view__weekdays {
  border-bottom: none !important;
  border-top: none !important;
}

.react-calendar__month-view__weekdays__weekday {
  border: none !important;
  padding: 0;
  font-size: 0.9rem;
  color: #717171;
  font-weight: 500;
}

.react-calendar__tile:hover {
  background-color: #f0f0f0 !important;
  border-radius: 1rem;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

.react-calendar__tile abbr {
  position: relative;
  top: -5px;
}

.react-calendar__tile p {
  color: #00de4d !important;
}

.react-calendar__tile {
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  color: #717171;
  height: 3.4rem;
}

.react-calendar__tile--now {
  background-color: #f3faf0;
}

.react-calendar__tile--active {
  background-color: #f3f3f3 !important;
  color: #333333;
}

.react-calendar__tile--now.react-calendar__tile--active {
  background-color: #f3f1dfd1;
  color: #333333;
}

.react-calendar__tile .text-primary-green-text {
  color: #00de4d !important;
}

.react-calendar__tile.text-red-500 {
  color: #ef4444 !important;
}

.react-calendar__tile.text-blue-500 {
  color: #3b82f6 !important;
}

.react-calendar__tile.text-text-gray {
  color: #717171 !important;
}
